<?xml version="1.0"?>

<model>
  <name>ballcluster_icefrag</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Thomas Stucky</name>
    <email>thomas.stucky@nasa.gov</email>
  </author>

  <description>
    Six 2cm ice fragment spheres arranged in a tetrahedron shape around each other.
  </description>

  <depend>
  </depend>
</model>
