<launch>
  <include file="$(find ow_lander)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node name="robot_model_and_robot_state_tutorial"
        pkg="ow_lander"
        type="robot_model_and_robot_state_tutorial"
        respawn="false" output="screen">
    <rosparam command="load"
              file="$(find ow_lander)/config/kinematics.yaml"/>
  </node>
</launch>
