<launch>

  <param name="robot_description" textfile="$(find ow_testbed)/urdf/testbed.xacro" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true" />
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- == add testbed to tf-tree ==================== -->
  <!-- This is necessary for rviz but not gazebo. -->
  <node name="world_to_base_link" pkg="tf" type="static_transform_publisher"
    args="0 0 0 0 0 0 world base_link 10" />

  <!-- == start rviz ==================== -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ow_testbed)/config/testbed.rviz" />

</launch>
