<?xml version="1.0"?>

<model>
  <name>Cubemap Sphere</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Terry Welsh</name>
    <email>terence.m.welsh@nasa.gov</email>
  </author>

  <description>
    A cubemapped sphere
  </description>

  <depend>
  </depend>
</model>
