# Power system related configurations

# IMPORTANT: If disabled, the power system will not run predictions or
# use GSAP. All power publications will remain static.  This maximizes
# OceanWATERS performance for those not looking for power predictions
# (GSAP is CPU-intensive), but the power system will not react to
# anything as a result.
#
enable_power_system: true

# Configuration

motor_efficiency: 0.9      # a value 0 - 1

# Initial battery configuration

initial_power: 0.0         # watts
initial_voltage: 25.2
initial_temperature: 20.0  # deg. C
initial_soc: 0.95          # % (used for first placeholder publication)

# Voltage
base_voltage: 16.8
voltage_range: 0.1

# Power values (wattage). These estimated values are per cell. Some
# are based on a Europa Lander draft specification, others on sample
# values from other planetary rovers, and some are just guesses.

# Baseline power draws in Watts. These cannot be turned off during simulation.
power_baseline_camera_controller: 1.6
power_baseline_computing: 0.1
power_baseline_heating: 1.2
power_baseline_science_instr: 0.6
power_baseline_sample_handling: 0.6
power_baseline_other: 2.2

# Power draws in Watts for certain components while they are active.
power_active_lights: 4.8        # power draw (W) per light at max intensity
power_active_camera: 0.1        # power draw (W) while stereo camera exposes
power_active_comms: 9.6         # power draw (W) when comms is activated

# Temperature
min_temperature: 17.5      # deg. C
max_temperature: 21.5      # deg. C

# Estimate of battery lifetime
battery_lifetime: 27380.0  # seconds

# IMPORTANT: This value is number of GSAP prognosers ("models")
# started by the power system to get battery predictions. The maximum
# is 4, which provides a full battery simulation, but this creates a
# high CPU load, hence the default is 1.  Note that most intra-battery
# faults are not possible to simulate with only 1 active model -- at
# least 2 are required.  Predictions may also be less accurate with
# fewer models, though overall power system behavior should not
# change.
#
active_models: 1

# The frequency of the main loop in the power system.  Dictates the
# time interval between publications & the size of the mechanical
# power moving average window.
#
loop_rate: 1  # hz

# Number of threads to use for the asynchronous ROS spinning in the main
# power system loop (to allow the joint states callback function to run
# at the same 50Hz publication rate, rather than the loop's rate).
#
spinner_threads: 4

# GSAP (prognostics engine) related configurations

# The maximum RUL estimation output from the Monte Carlo prediction process.
# If the prediction hits this value, it stops immediately and returns infinity
# (which is processed later into the max value instead).
# Lower values mean faster prediction returns in the event GSAP is predicting
# beyond this value, but it also means the prognoser can't return RUL
# values higher than this.
#
max_horizon: 100000  # seconds

# Number of samples created by each node during prognoser predictions
# for accuracy. Lowering this value increases the rate of prediction returns
# at the cost of accuracy.
#
num_samples: 100

# GSAP's battery model may break if power input is too high on a
# per-model basis. The exact threshold for the 6S1P model is currently
# unknown, but the previous single-cell model could not handle much
# more than 15W per cell. As such, we multiply this by 6 to get the
# artificial starting cap.
#
max_gsap_power_input: 90  # watts


# DEBUG CUSTOMIZATION

# This flag disables all power-related debug output from printing if false.
# The other flags allow filtering of specific messages.
#
print_debug: false

# Prints the timestamp of each cycle to the terminal.
# Output: 1 line per cycle.
#
timestamp_print_debug: false

# Prints the input data sent to GSAP's asynchronous prognosers each cycle.
# Output: NUM_NODES lines per cycle.
#
inputs_print_debug: false

# Prints the information currently stored in all nodes each cycle.
# Output: NUM_NODES lines per cycle.
#
outputs_print_debug: false

# Prints the information that will be published via rostopics each cycle.
# Output: 1 line per cycle.
#
topics_print_debug: false

# Prints the mechanical power calculated during jointStatesCb each time it calls.
# Output: 2 lines per cycle.
# NOTE: Only prints the most recent mechanical power values that are directly sent
#       into GSAP, rather than every calculated value (which would print at 50Hz).
#
mech_power_print_debug: false
