<?xml version="1.0"?>
<launch>

  <arg name="gui" default="true"/>

  <include file="$(find ow)/launch/common.launch" >
    <arg name="world_name" value="$(find ow_europa)/worlds/test_dem.world"/>
    <arg name="init_x" value="20"/>
    <arg name="init_y" value="-15"/>
    <arg name="init_z" value="2.25"/>
    <arg name="init_R" value="0.191"/>
    <arg name="init_P" value="0.097"/>
    <arg name="init_Y" value="0.035"/>
    <arg name="freeze_base_link" value="true"/>
    <arg name="arm_sim_enable" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>


</launch>
