<?xml version="1.0"?>
<launch>

  <arg name="arm_sim_enable" default="false"/>
  <arg name="gazebo" default="true"/>
  <arg name="gzclient" default="true"/>
  <arg name="record_bag" default="false"/>
  <arg name="power_draw_csv_file" default="gsap_input_data.csv"/>

  <include file="$(find ow)/launch/common.launch">
    <arg name="world_name" value="$(find ow_europa)/worlds/terminator_workspace.world"/>
    <arg name="init_x" value="0"/>
    <arg name="init_y" value="0"/>
    <arg name="init_z" value="-7.19"/>
    <arg name="init_R" value="-0.105"/>
    <arg name="init_P" value="0.008"/>
    <arg name="init_Y" value="0"/>
    <arg name="freeze_base_link" value="true"/>
    <arg name="arm_sim_enable" value="$(arg arm_sim_enable)"/>
    <arg name="gazebo" value="$(arg gazebo)"/>
    <arg name="gzclient" value="$(arg gzclient)"/>
    <arg name="record_bag" value="$(arg record_bag)"/>
    <arg name="power_draw_csv_file" default="$(arg power_draw_csv_file)"/>
  </include>

</launch>
