<?xml version="1.0"?>
<launch>

  <arg name="arm_sim_enable" default="false"/>
  <arg name="gui" default="true"/>

  <include file="$(find ow)/launch/common.launch" >
    <arg name="world_name" value="$(find ow_europa)/worlds/terminator.world"/>
    <arg name="init_x" value="0"/>
    <arg name="init_y" value="0"/>
    <arg name="init_z" value="-7.291"/>
    <arg name="init_R" value="-0.105"/>
    <arg name="init_P" value="0.008"/>
    <arg name="init_Y" value="0"/>
    <arg name="freeze_base_link" value="true"/>
    <arg name="arm_sim_enable" value="$(arg arm_sim_enable)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

</launch>
