<?xml version="1.0"?>
<launch>
  
  <arg name="world_name" default="$(find ow_europa)/worlds/test_dem.world"/>

  <!-- == launch gazebo with the chosen world ==================== -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="true"/>
  </include>

  <!-- == publish celestial body frames ==================== -->
  <node pkg="ow_ephemeris" type="ephemeris_node" name="ephemeris_node" output="log" />

  <!-- == add lander model to scene ==================== -->
  <include file="$(find ow_lander)/launch/spawn.launch" >
    <arg name="init_x" value="20"/>
    <arg name="init_y" value="-15"/>
    <arg name="init_z" value="3"/>
  </include>

  <!-- == add lander to tf-tree for rviz ==================== -->
  <node name="site_to_base_link" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 site base_link 10" />

  <!-- == start rviz ==================== -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ow_lander)/config/lander.rviz" output="screen"/>

</launch>


