<?xml version="1.0"?>

<model>
  <name>sphere_2cm</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Thomas Stucky</name>
    <email>thomas.stucky@nasa.gov</email>
  </author>

  <description>
    Sphere of 2cm diameter with material properties that imitate clumpy granular material.
  </description>

  <depend>
  </depend>
</model>
