<?xml version="1.0"?>

<model>
  <name>Light Probe</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Terry Welsh</name>
    <email>terence.m.welsh@nasa.gov</email>
  </author>

  <description>
    An attachment point for the irradiance map plugin, the point from which to render the source cubemap.
  </description>

  <depend>
  </depend>
</model>
