<?xml version="1.0"?>

<model>
  <name>Volcano Terrain</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Ussama Naal</name>
    <email>ussama.naal@nasa.gov</email>
  </author>

  <description>
    A terrain model based on Mount Saint Helens heightmap
  </description>

</model>
