<?xml version="1.0"?>
<launch>

  <include file="$(find ow_dynamic_terrain)/launch/default.launch" >
    <arg name="world_name" value="europa.world"/>

    <!-- Husky Params -->
    <arg name="husky_x" default="0"/>
    <arg name="husky_y" default="0"/>
    <arg name="husky_z" default="0.5"/>
    <arg name="husky_yaw" default="0.0"/>
  </include>

</launch>