<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- <env name="GAZEBO_RESOURCE_PATH" value="$(find ow_dynamic_terrain):$(optenv GAZEBO_RESOURCE_PATH /usr/share/gazebo-9)"/> -->
  <!-- <env name="GAZEBO_MODEL_PATH" value="$(find ow_dynamic_terrain)/models:$(optenv GAZEBO_MODEL_PATH /usr/share/gazebo-9/models)"/> -->

  <arg name="world" default="empty"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="physics" default="ode"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ow_dynamic_terrain)/worlds/default.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="$(arg verbose)" />
    <arg name="debug" value="$(arg debug)"/>
    <arg name="physics" value="$(arg physics)"/>
  </include>

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="x" default="310"/>
    <arg name="y" default="-275"/>
    <arg name="z" default="0.5"/>
    <arg name="yaw" default="0.0"/>
    <arg name="laser_enabled" value="false"/>
    <arg name="kinect_enabled" value="true"/>
  </include>

  <!-- Show in Rviz   -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ow_dynamic_terrain)/launch/husky.rviz"/> -->

</launch>
