<?xml version="1.0"?>

<!-- The Notices and Disclaimers for Ocean Worlds Autonomy Testbed for Exploration
     Research and Simulation can be found in README.md in the root directory of
     this repository. -->

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="lander_lights">

  <xacro:include filename="$(find ow_lander)/urdf/material_script.xacro" />

  <xacro:macro name="lander_lights" params="lander_lights_parent_link off_x off_y off_z off_R off_P off_Y vis_mask" >
    <link name="lander_lights_link" />

    <joint name="lander_lights_joint" type="fixed">
      <parent link="${lander_lights_parent_link}"/>
      <child link="lander_lights_link"/>
      <origin xyz="${off_x} ${off_y} ${off_z}" rpy="${off_R} ${off_P} ${off_Y}" />
      <axis xyz="0 1 0"/>
    </joint>
    <!-- NOTE: preserveFixedJoint tag required for lights to survive URDF to SDF conversion -->
    <gazebo reference='lander_lights_joint'>
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <xacro:lander_light_link suffix="0" roll="0" pitch="0" y="0.33" />
    <xacro:lander_light_link suffix="1" roll="0" pitch="0" y="-0.33" />
  </xacro:macro>

  <xacro:property name="light_mass" value="0.2" />

  <xacro:macro name="lander_light_link" params="suffix roll pitch y">
    <link name="lander_light${suffix}">
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0.025"/>
        <geometry>
          <cylinder length="0.05" radius="0.03" />
        </geometry>
      </collision>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0.025"/>
        <geometry>
          <cylinder length="0.05" radius="0.03" />
        </geometry>
        <material name="">
          <color rgba="0.7 0.7 0.7 1" />
        </material>
      </visual>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0.05"/>
        <mass value="0.01"/>
        <inertia
            ixx="${light_mass / 12.0 * (0.1*0.1 + 0.06*0.06)}" ixy="0.0" ixz="0.0"
            iyy="${light_mass / 12.0 * (0.06*0.06 + 0.1*0.1)}" iyz="0.0"
            izz="${light_mass / 12.0 * (0.06*0.06 + 0.06*0.06)}"/>
      </inertial>
    </link>

    <joint name="lander_light_joint${suffix}" type="fixed">
      <origin rpy="${roll} ${pitch} 0" xyz="0 ${y} 0"/>
      <parent link="lander_lights_link"/>
      <child link="lander_light${suffix}"/>
    </joint>

    <gazebo reference="lander_light${suffix}">
      <visual>
        <material>
          <diffuse>0.7 0.7 0.7 1</diffuse>
          <specular>0.4 0.4 0.4 1</specular>
          <xacro:material_script />
        </material>
        <plugin name="visibility" filename="libIRGVisibilityPlugin.so">
          <visibility_bitmask>${vis_mask}</visibility_bitmask>
        </plugin>
      </visual>
      <light name="lander_light_light${suffix}" type="spot">
        <diffuse>1 1 1 1</diffuse>
        <attenuation>
          <range>100</range>
          <!-- Our shader uses a quadratic term for attenuation, but no constant or linear terms.
            Attenuation = 1.0 / (q * d^2) So q = 0.001 gives us 1000 lux at 1 meter.-->
          <quadratic>0.001</quadratic>
        </attenuation>
        <direction>0 0 -1</direction>
        <spot>
          <!-- Keep inner and outer cone angles the same when projecting a texture -->
          <inner_angle>1.222</inner_angle>
          <outer_angle>1.222</outer_angle>
          <falloff>1.0</falloff>
        </spot>
        <cast_shadows>false</cast_shadows>
      </light>
    </gazebo>
  </xacro:macro>

</robot>

